html{
    scroll-behavior: smooth;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
}

a,
a:hover {
	text-decoration: none;
}


/*Header section start*/

.header_section {
	width: 100%;
	background: url(../images/header.png) center top no-repeat;
	background-size: cover;
	padding-bottom: 150px;
}

.bg-light {
	background-color: transparent!important;
	padding-top: 50px;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #fff;
	background: transparent;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}


.navbar-light .navbar-nav .nav-link {
	color: #fff;
	background: transparent;
	font-size: 14px;
	font-weight: 600;
	margin-right: 32px;
	font-family: 'Lato', sans-serif;
}


.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
	background: transparent;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
	transition: 1s;
} 

.header_section .header_main .navbar .navbar-collapse .btn-info {
	color: #dd9fd7;
	font-weight: 600;
	background-color: #fff;
	border-color: #fff;
	border-radius: 22px;
	border: 0px;
	font-size: 14px;
	padding: 7px 33px;
	box-shadow: 2px 6px 21px -1px black;
	font-family: 'Lato', sans-serif;
}

.header_section .header_main .navbar .navbar-collapse .btn-info:hover {
	color: #fff;
	font-weight: 600;
	background-color: #dd9fd7;
	border-color: 1px solid  #fff;
	border-radius: 22px;
	font-size: 14px;
	padding: 7px 33px;
	box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
	font-family: 'Lato', sans-serif;
	transition: 1s;
}

.banner_Section {
	width: 100%;
	padding-top: 240px;
}

.banner_Section .banner_text {}

.banner_Section .banner_text .banner_main {}

.banner_Section .banner_text .banner_main h1 {
	font-size: 40px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	color: #D68CE3;
}

.banner_Section .banner_text .banner_main h3 {
    color: #D68CE3;
    font-size: 32px;
}

.banner_Section .banner_text .banner_main p {
	padding-top: 20px;
	font-size: 15px;
	line-height: 32px;
	font-family: 'Lato', sans-serif;
	color: #98a1b9;
}

.banner_Section .banner_text .banner_main .banner_btn {
	padding-top: 20px;
}

.banner_Section .banner_text .banner_main .banner_btn .btn-info {
	color: #fff;
	font-weight: 600;
	
	border-color: #D68CE3;
	border-radius: 22px;
	font-size: 14px;
	border:0px;
	padding: 8px 66px;
	box-shadow: 0px 0px 37px -6px black;
	font-family: 'Lato', sans-serif;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deacfa+0,f4d7d2+100 */
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deacfa+0,f4d7d2+100 */
	background: #deacfa; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #deacfa 0%, #f4d7d2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #deacfa 0%,#f4d7d2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #deacfa 0%,#f4d7d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.banner_Section .banner_text .banner_main .banner_btn .btn-info:hover {
	color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    border-radius: 22px;
    font-size: 14px;
    padding: 8px 66px;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    font-family: 'Lato', sans-serif;
    transition: 1s;
}

/*Header section END*/


/*Service section Start*/

.service_section {
	width: 100%;
	background: url(../images/servicesbg.png) left top no-repeat;
	background-size: 28%;
}

.service_section .service_text {}

.service_section .service_text .service_main {
	width: 100%;
	text-align: center;
	padding-top: 80px;
}

.service_section .service_text .service_main h2 {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	color: #D68CE3;
}

.service_section .service_text .service_main p {
	color: #98a1b9;
	padding-top: 18px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.service_options {
	width: 100%;
	padding-top: 40px;
}

.service_options .service1 {
	width: 100%;
	text-align: center;
	background: url(../images/shadowbg1.png) center top no-repeat;
	padding-bottom: 44px;
	border-radius: 0px 0px 0px 90px;
}
.service_options .service1:hover {
    width: 100%;
    text-align: center;
    background: url(../images/shadowbg1.png) center top no-repeat;
    padding-bottom: 45px;
    border-radius: 0px 0px 0px 90px;
    box-shadow: 6px 25px 37px -22px black;
    transition: 1s;
}

.service_options .service1 .service_contents {
	padding-top: 20px;
}

.service_options .service1 .service_contents .service1_logo {
	padding-top: 55px;
}

.service_options .service1 .service_contents .service1_logo img {}

.service_options .service1 .service_contents h4 {
	font-size: 18px;
	font-weight: 600;
	color: #D68CE3;
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
}

.service_options .service1 .service_contents p {
	color: #98a1b9;
	padding-top: 8px;
	font-size: 13px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

.service_options .service1 .service_contents .service1_btn {
	padding-top: 12px;
}

.service_options .service1 .service_contents .service1_btn .btn-info {
	color: #fff;
	font-weight: 600;
	font-size: 10px;
	padding: 8px 30px;
	font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
    box-shadow: 1px 6px 17px -4px black;
}

.service_options .service1 .service_contents .service1_btn .btn-info:hover {
	font-size: 10px;
	padding: 8px 30px;
	font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
	color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    transition: 1s;
}

.service_options .service2 {
	width: 100%;
	text-align: center;
	background: url(../images/shadowbg.png) center top no-repeat;
	padding-bottom: 44px;
	border-radius: 0px 0px 0px 0px;
}

.service_options .service2:hover {
    width: 100%;
    text-align: center;
    background: url(../images/shadowbg.png) center top no-repeat;
    padding-bottom: 44px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 8px 25px 37px -22px black;
    transition: 1s;
}

.service_options .service2 .service2_contents {
	padding-top: 20px;
}

.service_options .service2 .service2_contents .service2_logo {
	padding-top: 55px;
}

.service_options .service2 .service2_contents .service2_logo img {}

.service_options .service2 .service2_contents h4 {
	font-size: 18px;
	font-weight: 600;
	color: #D68CE3;
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
}

.service_options .service2 .service2_contents p {
	color: #98a1b9;
	padding-top: 8px;
	font-size: 13px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

.service_options .service2 .service2_contents .service2_btn {
	padding-top: 12px;
}

.service_options .service2 .service2_contents .service2_btn .btn-info {
	color: #fff;
    font-weight: 600;
    font-size: 10px;
    padding: 8px 30px;
    font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
    box-shadow: 1px 6px 17px -4px black;
}

.service_options .service2 .service2_contents .service2_btn .btn-info:hover {
	font-size: 10px;
    padding: 8px 30px;
    font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
    color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    transition: 1s;
}

.service_options .service3 {
	width: 100%;
	text-align: center;
	background: url(../images/shadowbg2.png) center top no-repeat;
	padding-bottom: 44px;
	border-radius: 0px 0px 90px 0px;
}
.service_options .service3:hover {
    width: 100%;
    text-align: center;
    background: url(../images/shadowbg2.png) center top no-repeat;
    padding-bottom: 44px;
    border-radius: 0px 0px 90px 0px;
    box-shadow: 8px 25px 37px -22px black;
    transition: 1s;
}
.service_options .service3 .service3_contents {
	padding-top: 20px;
}

.service_options .service3 .service3_contents .service3_logo {
	padding-top: 55px;
}

.service_options .service3 .service3_contents .service3_logo img {}

.service_options .service3 .service3_contents h4 {
	font-size: 18px;
	font-weight: 600;
	color: #D68CE3;
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
}

.service_options .service3 .service3_contents p {
	color: #98a1b9;
	padding-top: 8px;
	font-size: 13px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

.service_options .service3 .service3_contents .service3_btn {
	padding-top: 12px;
}

.service_options .service3 .service3_contents .service3_btn .btn-info {
	color: #fff;
    font-weight: 600;
    font-size: 10px;
    padding: 8px 30px;
    font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
    box-shadow: 1px 6px 17px -4px black;
}
.service_options .service3 .service3_contents .service3_btn .btn-info:hover {
	font-size: 10px;
    padding: 8px 30px;
    font-family: 'Lato', sans-serif;
    border-radius: 22px;
    border: 0px;
    color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    transition: 1s;
}

/*video_section start*/

.video_section {
	width: 100%;
	background: url(../images/videobg.png) right top no-repeat;
}

.video_section .video_contents {
	padding-top: 110px;
}
.video_section .video_contents .video_main{
	
}

.video_section .video_contents .video_main iframe {
    width: 400px;
    height: 520px;
    border: 1px solid #fff;
    border-radius: 0px 0px 0px 90px;
    -webkit-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    -moz-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    position: relative;
}

/*.video_section .video_contents .video_main i {
    position: absolute;
    top: 37%;
    left: 30%;
    color: #fff;
    font-size: 101px;
}*/

.video_section .video_contents .video_main img {
	position: relative;
}

.video_section .video_contents .video_main a {
	position: absolute;
	top: 37%;
	left: 41%;
	font-size: 87px;
	color: #fff;
}

.video_section .video_contents .video_main a:hover {
	position: absolute;
	top: 37%;
	left: 41%;
	font-size: 87px;
	color: #D68CE3;
	transition: 1s;
}

.video_section .video_contents .video_text {
	padding-top: 48px;
}

.video_section .video_contents .video_text h1 {
	font-size: 30px;
	font-weight: 600;
	color: #D68CE3;
	font-family: 'Lato', sans-serif;
}

.video_section .video_contents .video_text p {
	color: #98a1b9;
	padding-top: 18px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.video_section .video_contents .video_text h6 {
	color: #98a1b9;
	padding-top: 18px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.video_section .video_contents .video_text .video_btn {
	padding-top: 32px;
}

.video_section .video_contents .video_text .video_btn .btn-info {
	color: #fff;
	font-weight: 600;
	border-radius: 22px;
	font-size: 14px;
	padding: 7px 40px;
    border-color: #D68CE3;
    border: 0px;
    box-shadow:0px 0px 17px -5px black;
    font-family: 'Lato', sans-serif;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
}


.video_section .video_contents .video_text .video_btn .btn-info:hover {

	border-radius: 22px;
	font-size: 14px;
	padding: 7px 40px;
    border: 0px;
    font-family: 'Lato', sans-serif;
	color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    border-radius: 22px;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    transition: 1s;

}

/*video_section end*/


/*whyus_Section start*/

.whyus_Section {
	width: 100%;
}

.whyus_Section .whyus_options {
	width: 100%;
	padding-top: 180px;
}

.whyus_Section .whyus_options .whyus1_contents {
    width: 100%;
    padding: 14px 0px;
    text-align: center;
}
.whyus_Section .whyus_options .whyus1_contents:hover {
    width: 100%;
    padding: 14px 0px;
    text-align: center;
    box-shadow: 0 10px 12px -6px black;
}

.whyus_Section .whyus_options .whyus1_contents img {}

.whyus_Section .whyus_options .whyus1_contents h4 {
	font-size: 18px;
	font-weight: 600;
	color: #929292;
	padding-top: 30px;
	font-family: 'Lato', sans-serif;
}

.whyus_Section .whyus_options .whyus1_contents p {
	color: #98a1b9;
	padding-top: 8px;
	font-size: 13px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

/*whyus_Section end*/

/*Image section start*/

.image_Section {
	width: 100%;
	background: url(../images/imagesbg.png) center top no-repeat;
	background-size: cover;
	padding-bottom: 160px;
}

.image_Section .image_options {
	width: 100%;
	padding-top: 280px;
}

.image_Section .image_options .image1_contents {
	margin-left: 250px;
}

.image_Section .image_options .image1_contents h1 {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	color: #D68CE3; 
}

.image_Section .image_options .image1_contents p {
	color: #98a1b9;
	padding-top: 18px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.image_Section .image_options .image1_contents .image1_btn {
	padding-top: 30px;
}

.image_Section .image_options .image1_contents .image1_btn .btn-info {
	color: #fff;
    font-weight: 600;
    border-radius: 22px;
    font-size: 14px;
    padding: 7px 40px;
    border-color: #D68CE3;
    border: 0px;
    box-shadow: 0px 0px 17px -5px black;
    font-family: 'Lato', sans-serif;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
}

.image_Section .image_options .image1_contents .image1_btn .btn-info:hover {
    border-radius: 22px;
    font-size: 14px;
    padding: 7px 40px;
    border: 0px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    border-radius: 22px;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    transition: 1s;
}

.image_Section .image_options .image2_contents {
	text-align: right;
	margin-right: -14px;
}

.image_Section .image_options .image2_contents img {
    width: 30%;
    height: 245px;
    padding-left: 26px;
    border-radius: 0px 28px 7px 0px;
}

.image_Section .image_options .image2_contents img:hover {
    width: 30%;
    height: 245px;
    padding-left: 26px;
    border-radius: 0px 28px 7px 0px;
    opacity: .7;
}

/*image_Section end*/


/*contact_Section Start*/

.contact_section {
	width: 100%;
	background: url(../images/contactbg.png) center top no-repeat;
	background-size: cover;
	padding-bottom: 50px;
}

.contact_section .contact_inner {}

.contact_section .contact_inner .contact_left {
	padding-top: 20px;
}
.gmap_canvas{
	border-radius: 0px 0px 0px 90px;
    -webkit-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    -moz-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
}
.contact_section .contact_inner .contact_right {
	padding-top: 155px;
}

.contact_section .contact_inner .contact_right h5 {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	    color: #D68CE3;
}

.contact_section .contact_inner .contact_right .contact_para {}

.contact_section .contact_inner .contact_right .contact_para p {
	color: #98a1b9;
	padding-top: 18px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.contact_section .contact_inner .contact_right h6 {
	padding-top: 0px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
	color: #D68CE3;
	font-weight: 800;
}

.contact_section .contact_inner .contact_right i {}


/*contact_Section end*/


/*newsletter_Section + footer section start*/

.newsletter_Section {
	width: 100%;
	background: url(../images/footerbg.png) center top no-repeat;
	background-size: cover;
	padding-bottom: 1px;
	position: relative;
}

.newsletter_Section .newsletter_inner {}

.newsletter_Section .newsletter_inner .newsletter_main {
	text-align: center;
	padding-top: 130px;
	padding-bottom: 60px;
}

.newsletter_Section .newsletter_inner .newsletter_main img {
	width: 45px;
}

.newsletter_Section .newsletter_inner .newsletter_main h1 {
	font-size: 30px;
	font-weight: 600;
	padding-top: 25px;
	color: #D68CE3;
	font-family: 'Lato', sans-serif;
}

.newsletter_Section .newsletter_inner .newsletter_main p {
	color: #98a1b9;
	padding-top: 8px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Lato', sans-serif;
}

.newsletter_btn {
	max-width: 550px;
	width: 88%;
	font-size: 11px;
	position: relative;
	padding-top: 20px;
}

.newsletter_btn .input {
	width: 67%;
	padding: 4px 96px 4px 8px;
	border-radius: 30px;
	border: none;
	margin-left: 371px;
	font-weight: bold;
	background: #f2f2f2;
}


.newsletter_btn .input:focus {
	outline: none;
}

.newsletter_btn .btn {
	position: absolute;
	top: 69%;
	transform: translateY(-50%);
	left: 638px;
	background: #D68CE3;
	padding: 7px 18px;
	border-radius: 30px;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-family: 'Lato', sans-serif;
}

.newsletter_btn .btn:hover {
	position: absolute;
	top: 69%;
	transform: translateY(-50%);
	left: 638px;
	background: #fff;
	padding: 7px 18px;
	border: 1px solid #D68CE3;
	border-radius: 30px;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #D68CE3 ;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-family: 'Lato', sans-serif;
}


.middle {
    position: absolute;
    top: 64%;
    width: 70%;
    transform: translateY(-50%);
    box-shadow: 2px 13px 24px -17px black;
}
.counting-sec {
    padding: 0px 0px;
    width: 100%;
    background: url(../images/box_bg.png);
}
.inner-width{
/*  max-width: 1200px;*/
  margin: auto;
  display: flex;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.col i{
  font-size: 40px;
  color: #333;
}
.num {
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0;
}

.footer_Section {
    width: 100%;
    padding-top: 280px;
}

.footer_Section .footer_main {
	padding-top: 20px;
}

.footer_Section .footer_main .footer_left {
	margin-left: 100px;
}

.footer_Section .footer_main .footer_left h3 {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.footer_Section .footer_main .footer_left p {
	color: #fff;
	padding-top: 12px;
	font-size: 13px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
}

.footer_icons {
	padding: 12px 0px;
}

.footer_icons ul {}

.footer_icons ul li {
	display: inline-block;
	padding: 0px 12px;
}

.footer_icons ul li a {
	font-size: 18px;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.footer_right {}

.footer_right h6 {
	padding-top: 0px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	margin-left: 115px;
	font-family: 'Lato', sans-serif;
}

.footer_right .newsletter_btn {}

.footer_right .newsletter_btn {
	max-width: 550px;
	width: 88%;
	font-size: 11px;
	position: relative;
	padding-bottom: 25px;
}

.footer_right .newsletter_btn .input {
	width: 67%;
	padding: 4px 96px 4px 8px;
	border-radius: 30px;
	border: none;
	margin-left: -10px;
	font-weight: bold;
	background: #D68CE3;
}

.footer_right .newsletter_btn .btn {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 199px;
    background: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #D68CE3;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.footer_right .newsletter_btn .btn:hover {
	position: absolute;
	top: 47%;
	transform: translateY(-50%);
	left: 199px;
	background:#D68CE3 ;
	padding: 8px 18px;
	border: 1px solid #fff; 
	border-radius: 30px;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	transition: 1s;
}

.footer_last {
	text-align: center;
}

.footer_last p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	line-height: 26px;
}


/*newsletter_Section + footer section ends*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:block;
}
















						/***********************************************************
						************************************************************
												***  RESPONSIVE ***
						*************************************************************
						*************************************************************/






/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
.newsletter_btn .input {
    width: 113%;
    padding: 4px 4px 4px 8px;
    border-radius: 30px;
    border: none;
    margin-left: 0px;
    font-weight: bold;
    background: #f2f2f2;
}
.newsletter_btn .btn {
    position: absolute;
    top: 69%;
    transform: translateY(-50%);
    left: 228px;
    background: #D68CE3;
    padding: 7px 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
}

.newsletter_btn .btn:hover {
    position: absolute;
    top: 69%;
    transform: translateY(-50%);
    left: 187px;
    background: #fff;
    padding: 7px 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #D68CE3;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
}

.header_section {
    width: 138%;
    background: url(../images/header.png) center top no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #D68CE3;
    background: transparent;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #D68CE3;
    background: transparent;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    margin-right: 423px;
    transition: 1s;
}




.navbar-light .navbar-nav .nav-link {
    color: #D68CE3;
    background: transparent;
    font-size: 12px;
    font-weight: 600;
    margin-right: 32px;
    font-family: 'Lato', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #D68CE3;
    background: transparent;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    margin-right: 423px;
    transition: 1s;
}


.bg-light {
    background-color: transparent!important;
    padding-top: 50px;
    padding-left: 34px;
}


.header_section .header_main .navbar .navbar-collapse .btn-info {
    color: #dd9fd7;
    font-weight: 600;
    background-color: #fff;
    border-color: #fff;
    border-radius: 22px;
    border: 0px;
    margin-left: -15px;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 15px;
    box-shadow: 2px 6px 21px -1px black;
    font-family: 'Lato', sans-serif;
}


.header_section .header_main .navbar .navbar-collapse .btn-info:hover {
    color: #fff;
    font-weight: 600;
    background-color: #dd9fd7;
    border-color: 1px solid #fff;
    border-radius: 22px;
    font-size: 14px;
        margin-left: -15px;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 15px;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    font-family: 'Lato', sans-serif;
    transition: 1s;
}

.banner_Section {
    width: 100%;
    padding-top: 45px;
}



.banner_Section .banner_text .banner_main h1 {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #D68CE3;
}

.banner_Section .banner_text .banner_main h3 {
    color: #D68CE3;
    font-size: 28px;
}
.banner_Section .banner_text .banner_main p {
    padding-top: 0px;
    font-size: 8px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #98a1b9;
}

.banner_Section .banner_text .banner_main .banner_btn {
    padding-top: 0px;
}

.banner_Section .banner_text .banner_main .banner_btn .btn-info {
    color: #fff;
    font-weight: 600;
    border-color: #D68CE3;
    border-radius: 22px;
    font-size: 9px;
    border: 0px;
    padding: 7px 42px;
    box-shadow: 0px 0px 37px -6px black;
    font-family: 'Lato', sans-serif;
    background: #deacfa;
    background: -moz-linear-gradient(-45deg, #deacfa 0%, #f4d7d2 100%);
    background: -webkit-linear-gradient(-45deg, #deacfa 0%,#f4d7d2 100%);
    background: linear-gradient(135deg, #deacfa 0%,#f4d7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deacfa', endColorstr='#f4d7d2',GradientType=1 );
}



.banner_Section .banner_text .banner_main .banner_btn .btn-info:hover {
    color: #fff;
    font-weight: 600;
    background: #dd9fd7;
    border-color: 1px solid #D68CE3;
    border-radius: 22px;
    font-size: 9px;
    border: 0px;
    padding: 7px 42px;
    box-shadow: 0 0 5px #D68CE3, 0 0 40px #D68CE3, 0 0 80px #D68CE3;
    font-family: 'Lato', sans-serif;
    transition: 1s;
}
.service_section {
    width: 100%;
    margin-top: 5px;
    background: url(../images/servicesbg.png) left top no-repeat;
    background-size: 35%;
}

.service_section .service_text .service_main {
    width: 100%;
    text-align: center;
    padding-top: 65px;
    margin-left: 81px;

}

.service_section .service_text .service_main h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #D68CE3;
}
.service_section .service_text {
    margin-left: 0px;
}

.service_section .service_text .service_main p {
    color: #98a1b9;
    padding-top: 9px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
}

.service_options {
    width: 100%;
    margin-left: 76px;
    padding-top: 0px;
}


.video_section {
    width: 138%;
    height: 100%;
    background: url(../images/videobg.png) right top no-repeat;
}

.video_section .video_contents {
    padding-top: 70px;
}

.video_section .video_contents .video_main {
    margin-left: 38px;
}

.video_section .video_contents .video_main iframe {
    width: 403px;
    height: 502px;
    border: 1px solid #fff;
    border-radius: 0px 0px 0px 90px;
    -webkit-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    -moz-box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    box-shadow: 15px 13px 11px 8px rgba(243,220,227,0.93);
    position: relative;
}

.video_section .video_contents .video_text {
    padding-top: 60px;
    text-align: center;
}
.video_section .video_contents .video_text p {
    color: #98a1b9;
    padding-top: 13px;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}

.video_section .video_contents .video_text h1 {
    font-size: 30px;
    font-weight: 600;
    color: #D68CE3;
    font-family: 'Lato', sans-serif;
}

.video_section .video_contents .video_text h6 {
    color: #98a1b9;
    padding-top: 0px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
}

.whyus_Section .whyus_options {
    width: 100%;
    margin-left: 24px;
    text-align: center;
    padding-top: 80px;
}

.whyus_Section .whyus_options .whyus1_contents {
    width: 100%;
    margin-left: 50px;
    padding: 39px 0px;
    text-align: center;
}


.whyus_Section .whyus_options .whyus1_contents:hover {
    width: 100%;
    padding: 39px 0px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 0 10px 12px -6px black;
}

.image_Section {
    width: 138%;
    background: url(../images/imagesbg.png) center top no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.image_Section .image_options {
    width: 100%;
    padding-top: 80px;
}

.image_Section .image_options .image1_contents {
    margin-left: 80px;
    padding-bottom: 113px;
}

.image_Section .image_options .image1_contents h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #D68CE3;
}


.image_Section .image_options .image2_contents {
     text-align: left; 
    margin-right: -16px;
}


.image_Section .image_options .image2_contents img {
    width: 32%;
    height: 160px;
    padding-left: 9px;
    border-radius: 0px 28px 7px 0px;
}
.image_Section .image_options .image2_contents img:hover {
    width: 32%;
    height: 160px;
    padding-left: 9px;
    border-radius: 0px 28px 7px 0px;
    opacity: .7;
}

.contact_section {
    width: 123%;
    margin-left: -13px;
    text-align: center;
    background: url(../images/contactbg.png) center top no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}
.contact_section .contact_inner .contact_right {
    padding-top: 82px;
    margin-left: 83px;
}

.contact_section .contact_inner .contact_right h5 {
    font-size: 38px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #D68CE3;
}

.contact_section .contact_inner .contact_right .contact_para p {
    color: #98a1b9;
    /* padding-top: 18px; */
    font-size: 16px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}

.newsletter_Section .newsletter_inner .newsletter_main {
    text-align: center;
    padding-left: 95px;
    padding-top: 76px;
    width: 124%;
    padding-bottom: 0px;
}

.newsletter_Section .newsletter_inner .newsletter_main h1 {
    font-size: 36px;
    font-weight: 600;
    padding-top: 25px;
    color: #D68CE3;
    font-family: 'Lato', sans-serif;
}


.newsletter_Section .newsletter_inner .newsletter_main p {
    color: #98a1b9;
    padding-top: 5px;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
}

.middle {
    position: absolute;
    top: 46%;
    width: 131%;
    transform: translateY(-50%);
    box-shadow: 2px 13px 24px -17px black;
}

.col {
    flex: 1;
    text-align: center;
    padding: 0px;
    color: #fff;
    text-transform: uppercase;
}

.num {
    font-size: 30px;
    font-weight: 800;
    margin: 13px 0;
}

.footer_Section .footer_main {
    padding-top: 14px;
    background: #f4d7d2;
}

.footer_Section {
    width: 142%;
    padding-top: 160px;
}

.footer_Section .footer_main .footer_left h3 {
    font-size: 30px;
    font-weight: 600;
    color: #D68CE3;
    font-family: 'Lato', sans-serif;
}

.newsletter_Section {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding-bottom: 1px;
    position: relative;
}

.footer_Section .footer_main .footer_left p {
    color: #fff;
    padding-top: 12px;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
}

.footer_right .newsletter_btn .input {
    width: 74%;
    padding: 4px 6px;
    border-radius: 30px;
    border: none;
    margin-left: 80px;
    font-weight: bold;
    background: #D68CE3;
}

.footer_right .newsletter_btn .btn {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 280px;
    background: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #D68CE3;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.footer_right .newsletter_btn .btn:hover {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    left: 276px;
    background:#D68CE3 ;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff ;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.footer_right {
    margin-bottom: 23px;
}


























  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}





/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}
